/* Artfully created by Kerry */

body {
	font-family: verdana, arial, sans-serif, helvetica;
	font-weight: normal;
	font-size: 14px;
	position: relative;
	color: #A0522D;
	background-color: #FFDEAD;
}

h3 {
	font-weight: bold;
	font-size: 24px;
	color: black;	
}

footer {
	position: absolute;
	background-color: #A0522D;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 1%;
}

